@import "normalize";
::-webkit-scrollbar
{
  width: 5px;
  height: 16px;
  background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background-color: #999;
}

html,body{
  height:100%;
  line-height: 1.6;
  font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
  color: #222;
  font-size: 14px;
}
body{
  min-height: 800px;
}
ul,li{
  list-style: none;
}
ul,li,p{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: #000;
}
.clear:after{
  visibility:hidden; display:block; font-size:0; content:'\20'; clear:both; height:0;
}
.clear{*zoom: 1;}

/* 按钮样式 */
.btn{
  display: inline-block;
  overflow: visible;
  padding: 0 22px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
 }
/* 默认按钮 */
.btn_default{
  //background-color: #fff;
  background-color: #fff;
  border-color: #e7e7eb;
  color: #222;
}
/* 提示按钮样式 */
.btn_success{
  background-color: #44b549;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#44b549),to(#44b549));
  background-image: -webkit-linear-gradient(top,#44b549 0,#44b549 100%);
  background-image: linear-gradient(to bottom,#44b549 0,#44b549 100%);
  border-color: #44b549;
  color: #ffffff;
}
/* 发布按钮*/
.btn_publish{
  background-image: linear-gradient(to bottom,#f00 0,#f00 100%);
  border-color: #f00;
  color: #ffffff;
}
/* 按钮hover样式 */
.btn_success:hover{
  background: #2f9833;
}
.btn_default:hover{
  background: #e7e7eb ;
}
.btn_publish:hover{
  background: #951414 ;
}

a{
  cursor: pointer;
}
/* 删除按钮样式 */
.pop_closed{
  float: right;
  width: 16px;
  height: 16px;
  margin-top: 15px;
  background: url(../images/base.png) 0 -2395px no-repeat;
}


/* 主菜单 菜单分成几块，三块则每个为sizelof3 */
.sizelot1{
  width: 100%;
}
.sizelof2{
  width: 50%;
}
.sizelof3{
  width: 33.33%;
}
/* 每个主菜单的样式 */
.pre_menu_item{
  position: relative;
  float: left;
  line-height:38px;
  text-align: center;
}

/* 主菜总体样式 */
.pre_menu_list{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #e7e7eb;
  background: url(../images/bg_mobile_foot.png) no-repeat 0 0;
  background-position: 0 0;
  @extend .clear;
  padding-left: 43px;  /* 为了让前面的键盘按钮显示出来 */



  /* 内容单个 个体的样式 */
  .pre_menu_item{
    box-sizing: border-box;
    line-height: 50px;
    position: relative;
    float: left;
    text-align: center;
    /* 所有的按钮都为a标签，设定样式 */
    a{
      display: block;
      width: auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: normal;
      color: #616161;
      text-decoration: none;
    }
    /* 主菜单单个的样式（默认） */
    .pre_menu_link{
      height: 50px;
      background-color: #fff;
      border-left: 1px solid #e7e7eb;
    }
    /* 主菜单单个点击选中的样式（高亮） */
    .active{
      line-height:48px;
      box-sizing: border-box;
      border: 1px solid #44b549;
      color: #44b549;
    }

    .icon20_common.sort_gray{
      background: url(../images/base.png) 0 -4729px no-repeat;
    }
  }
  .sort_gray{
    margin-top: -4px;
  }


  /* 按钮中的“ 。 ” */
  .icon_menu_dot{
    background: url(../images/bg_icon.png) 0 -36px no-repeat;
    width: 7px;
    height: 7px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 2px;
    margin-top: -2px;
  }
  /* +号按钮样式 */
  .icon14_menu_add{
    background: url(../images/bg_icon.png) 0 0 no-repeat;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    display: inline-block;
    margin-top: -2px;
  }


}
/* 子菜单  1 */
.sub_pre_menu_box{
  position: absolute;
  left: 0;
  bottom: 60px;
  width: 100%;
  border: 1px solid #d0d0d0;
  background-color: #fafafa;
  border-top-width: 0;
  box-sizing: border-box;
  .active{
    line-height:42px;
  }
  .sub_pre_menu_list {
    li{
      height:44px;
      line-height: 44px;
      border: 1px solid transparent;
      margin: 0 -1px -1px;
      box-sizing: border-box;
      .active{
        line-height:40px;
      }
      .sub_pre_menu_inner{
        display: block;
        border-top: 1px solid #e7e7eb;
        width: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        cursor: pointer;
      }
    }
    li:first-child{
      border-top: 1px solid #d0d0d0;
    }
  }
  /* 子菜单的底标箭头 */
  .arrow{
    position: absolute;
    left:50%;
    margin-left: -6px;
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: dashed;
    border-color: transparent;
    border-bottom-width: 0;
    border-top-style: solid;
  }
  .arrow_out{
    bottom: -6px;
    border-top-color: #d0d0d0;
  }
  .arrow_in{
    bottom: -5px;
    border-top-color: #fafafa;
  }
}


#wx_menu{
  width: 930px;
  background-color: #ffffff;
  overflow: hidden;
  margin:0 auto;
  padding: 4% 0;
  @extend .clear;
}

.mobile_preview{
  position: relative;
  float: left;
  margin-right: 12px;
}
.m_menu{
  position: relative;
  width: 317px;
  height: 580px;
  background:  url(../images/bg_mobile_head.png) no-repeat 0 0;
  background-position: 0 0;
  border: 1px solid #e7e7eb;
  .m-hd{
    color: #fff;
    text-align: center;
    padding-top: 30px;
    font-size: 15px;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    margin: 0 30px;
  }


}





/* 手机菜单排序按钮样式 */
.m_sort{
  position: absolute;
  left: 0;
  right: 0;
  bottom: -72px;
  text-align: center;
  .btn{
    display: inline-block;
  }
}


.editor_inner{
  float: left;
  width: 590px;
  height: 580px;
  position: relative;
  .protable_editor{
    margin-left:12px ;
    padding:0 20px ;
    height: 100%;
    overflow: hidden;
    background-color: #f4f5f9;
    .pe_hd{
      padding: 9px 0;
      font-weight: 400;
      border-bottom: 1px solid #e7e7eb;
      @extend .clear;
      p{
        @extend .clear;
      }
      a{
        float: right;
        color: #459ae9;
      }
      a:hover{
        text-decoration: underline;
      }
    }
    /* 主菜单存在时候提示 */
    .hint{
      color: #8d8d8d;
      padding-top:10px ;
    }

    /* 菜单名称 */
    .menu_name{
      margin-top: 10px;
      width: 100%;
      overflow: hidden;
      @extend .clear;
      .mn_name{
        display: inline-block;
        float: left;
        margin-right: 30px;
      }
      .mn_r{
        float: left;
        p{
          margin: 4px 0;
          color: #999;
        }
        .getName{
          height: 22px;
          width: 228px;
          border: 0;
          outline: 0;
        }
        .error{
          color: #e15f63;
        }
      }

    }
    /* 菜单内容 */
    .menu_conent{
      margin: 50px 0 10px;
      line-height:30px;
      .mc,label{
        margin-right:30px;
      }
      label input{
        margin-right: 5px;
      }
      .mc_cont{
        position: relative;
        width: 100%;
        height: 370px;
        overflow: auto;
        background-color: #fff;
        margin-top: 10px;
        border: 1px solid transparent;
        .card_list{
          margin-left: 20px;
          margin-top: 20px;
        }
      }

      .mc_cont_letter{
        text-align: center;
        border: 2px dotted #d9dadc;
        color: #8d8d8d;
        padding: 30px ;
        margin: 30px 60px;
        cursor: pointer;
        display: block;
        .icon36_common{
          display: inline-block;
          width: 36px;
          height: 36px;
          background: url(../images/base.png) 0 -2498px no-repeat;
        }
      }
      .mc_cont_url{
        padding: 15px;
        text-align: left;
        .url_word{
          margin-bottom: 15px;
          color: #8d8d8d;
        }
        .url_address{margin-right: 20px}
        .url_link{
          width: 300px;
          height: 30px;
        }
      }
    }


  }


  /* 左箭头 */
  .editor_arrow_wrap{
    position: absolute;
    top: 545px;
    left: 0;
    .editor_arrow{
      display: inline-block;
      width: 0;
      height: 0;
      border-width: 12px;
      border-style: dashed;
      border-color: transparent;
      border-left-width: 0;
      border-right-color: #e7e7eb;
      border-right-style: solid;
      position: absolute;
    }
    .editor_arrow_out{
      left: 0;
    }
    .editor_arrow_in{
      left: 1px;
      border-right-color: #f4f5f9;
    }
  }

}

/* 发布与预览等功能按钮 */
.tool_bar{
  float: left;
  margin: 40px;
  .btn_success{
    margin-right: 20px;
    padding: 0 40px;
  }
  .btn_default{
    padding: 0 40px;
  }
}

.del_alert{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(00,00,00,0.75);
  z-index: 999;
  .da_cont{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 720px;;
    overflow: hidden;
    background-color: #f4f5f9;;
    .da_hd{
      line-height:50px;
      color: #222;
      font-size: 18px;
      padding: 0  20px;
      @extend .clear;
    }
    .da_bd{
      padding:66px 45px 108px;
      width: 630px;
      height: 80px;
      background-color: #fff;
      .da_bd_cont{
        width: 350px;
        height: 46px;
        margin: 0 auto;
        @extend .clear;
        span{
          color: #8d8d8d;
        }
      }
      .icon_msg{
        width: 46px;
        height: 46px;
        float: left;
        margin-right: 10px;
        background: url(../images/base.png) 0 -1640px no-repeat;
      }
    }
    .da_fot{
      height: 66px;
      line-height:66px;
      text-align: center;
      a{
        margin-left: 10px;
        padding: 0 40px;
      }
    }
  }
}







/* 素材库 */
.material_library{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(00,00,00,0.75);
  z-index: 999;
  .ml_cont{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 960px;
    height: 627px;
    margin-left: -480px;
    margin-top: -313.5px;
    background-color: #f4f5f9;
    .ml_hd{
      padding: 0 20px;
      font-size: 18px;
      line-height:50px;
      @extend .clear;
    }
    .ml_bd{
      background-color: #fff;

      .ml_bd_fn{
        padding: 10px 20px;
        border-bottom: 1px solid #e7e7eb;
        @extend .clear;
        .fn_serch{
          float: left;
          @extend .clear;
        }
        .msg_serch{
          width: 300px;
          height:28px;
          line-height:28px;
          padding: 1px 10px;
          border: 1px solid #e7e7eb;
          border-right: none;
          outline: none;
          float: left;
        }
        .serch{
          width: 30px;
          height: 30px;
          display: inline-block;
          border:1px solid #e6e7eb;}
        .icon16_common{
          display: inline-block;
          background: url(../images/base.png) 0 -3641px no-repeat;
          width: 16px;
          height: 16px;
          margin: 7px ;
        }
        .btn{
          float: right;
          .icon14_common{
            width: 14px;
            height: 14px;
            vertical-align:middle;
            display: inline-block;
            background: url(../images/base.png) 0 -3026px no-repeat;
            margin-top: -2px;
            margin-right: 5px;
          }
        }
      }
      .ml_bd_cont{
        width: 100%;
        height: 453px;
        .card{
          margin: 0 auto;
          width: 680px;
          height: 450px;
          overflow-y: auto;
          .card_list:hover .mask{
            display: block;
          }
          .mask{
            position: absolute;
            box-sizing: border-box;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.6);
            z-index: 1;
            color: #ffffff;
            text-align: center;
            display: none;
            .icon_card_selected{
              position: absolute;
              left: 50%;
              top: 50%;
              margin: -23px -23px;
              background: url(../images/base.png) 0 -5333px no-repeat;
              width: 46px;
              height: 46px;
              vertical-align: middle;
              display: inline-block;
            }
          }
        }

      }
    }
    .ml_ft{
      line-height:65px;
      background-color: #f4f5f9;
      text-align: center;
      .btn{
        padding: 0 40px;
        margin-right:5px;
      }
    }
  }
}

/* 消息列表 */
.card_list{
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 10px;
  overflow: hidden;
  border:1px solid #eee;
  padding:10px;
  background-color: #fff;
  .cl_cont{
    display: block;
    .cl_hdPic{
      width: 100%;
      height: 160px;
      overflow: hidden;
      background-repeat:no-repeat;
      background-position: center center;
      background-size:cover;
    }
    .cl_des{
      color: #666;
    }
    hr{
      height: 1px;
      border:none;
      border-top: 1px solid #eeeeee;
    }
    .cl_ft{
      @extend .clear;
      span{float: right;
        color: #666}
    }
  }
  .cl_cont2{
    .cl_top{
      display: block;
      border-top: 0;
      height: 120px;
      position: relative;
      .cltPic{
        width: 100%;
        height:100%;
        overflow: hidden;
        background-repeat:no-repeat;
        background-position: center center;
        background-size:cover;

      }
      .cltWord{
        box-sizing: border-box;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        line-height:28px;
        padding-left: 8px;
        color: #ffffff;
        background: rgba(0,0,0,0.6);
      }
    }
    .cl_ct{
      margin-top: 5px;
      border-top: 1px solid #eee;
    }
    .tow{
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      height:60px;
      p{
        display: inline-block;
        vertical-align: middle;
        width: 223px;
        span{
          line-height: normal;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          word-break: break-all;
          overflow: hidden;
          float: left;
          max-height: 40px;
        }
      }
      .pic{
        display: inline-block;
        width: 50px;
        height: 50px;
        overflow: hidden;
        vertical-align: middle;
        background-repeat:no-repeat;
        background-position: center center;
        background-size:cover;
      }
    }
  }

}

/* 预览页面 */
.preview{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 800px;
  background:rgba(00,00,00,0.75);
  z-index: 999;
  .pw_cont{
    width: 327px;
    margin: 30px auto;
    background: url(../images/preview.png) no-repeat 0 0;
    .pw_hd{
      height: 150px;
      text-align: center;
      .nickname{
        display: inline-block;
        font-weight: 400;
        padding-top: 120px;
        width: 122px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        font-size: 14px;
        color: #ffffff;
      }
    }
    .pw_bd{
      height: 393px;
      text-align: center;
      margin-left:28px;
      margin-right: 28px;
      overflow-y: auto;
      background-color: #f5f5f5;
      .card_list{
        width: 242px;
        text-align: left;
        position: relative;
        border: 1px solid #e3e3e3;
        margin-top: 5px;
        .cl_top{
          height: 100px;
        }
        .cl_ct {
          .tow{
            height: 50px;
            padding-top: 5px;
          }
          p{
            width:165px;
          }
        }
      }

    }
    .pw_ft{
      position: relative;
      height: 40px;
      .pre_menu_list{
        bottom: 2px;
        margin-left: 28px;
        margin-right: 30px;
        height: 40px;
        .pre_menu_item{
          height:40px;
          box-sizing: border-box;
          line-height:40px;
          .pre_menu_link{
            height:40px;
          }
          .active{
            border: none;
            border-left: 1px solid #e7e7eb;
            line-height: 40px;
          }

        }
      }
    }
    .btn{
      margin: 110px 108px 20px;
    }
  }
}

.dad-noSelect,.dad-noSelect *{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: -webkit-grabbing !important;
  cursor: -moz-grabbing !important;
}

.dad-container{
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dad-container::after{
  content: '';
  clear: both !important;
  display: block;
}
.dad-active .dad-draggable-area{
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
.dads-children-clone{
  opacity: 0.8;
  z-index: 9999;
  pointer-events: none;
}
.dads-children-placeholder{
  overflow: hidden;
  position: absolute !important;
  box-sizing: border-box;
  border:4px solid #639BF6;
  margin:5px;
  text-align: center;
  color: #639BF6;
  font-weight: bold;
}
.publish_alert{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  .pa_cont{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 150px;
    border-radius: 8PX;
    margin-left: -175px;
    margin-top: -75px;
    background-color: #44b549;
    box-shadow: 0 0 2px rgba(0,0,0,0.6);
    .pa_hd{
      height: 50px;
      padding: 0 20px;
      font-size: 18px;
      line-height:50px;
      @extend .clear;
      .pa_closed{
        display: inline-block;
        font-size: 18px;
        float: right;
        color: #ffffff;
      }
    }
    .pa_bd{
      text-align: center;
      font-size: 20px;
      color: #ffffff;
      line-height:45px;

    }

  }
  .pa_error{
     background-color: #ff0000;
   }
}



/* 菜单内容中素材的删除按钮 */
.cancel{
position: absolute;
  left:320px;
}
.cancel:hover{
  color:#f00;
  text-decoration: underline;
}
/* loading效果 */
//.loading{
//  background-color: rgba(0,0,0,0.6);
//}
//.spinner {
//  width: 100px;
//  height: 100px;
//  position: relative;
//  left: 50%;
//  top: 50%;
//  margin-left: -50px;
//  margin-top: -50px;
//  color: #44b549;
//}
//
//.container1 > div, .container2 > div, .container3 > div {
//  width: 20px;
//  height: 20px;
//  background-color: #333;
//
//  border-radius: 100%;
//  position: absolute;
//  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
//  animation: bouncedelay 1.2s infinite ease-in-out;
//  -webkit-animation-fill-mode: both;
//  animation-fill-mode: both;
//}
//
//.spinner .spinner-container {
//  position: absolute;
//  width: 100%;
//  height: 100%;
//  line-height:100px;
//  text-align: center;
//  font-size: 20px;
//  font-weight: bold;
//}
//.spinner .spinner-container div{
//  background-color: #44b549;
//}
//
//
//.container2 {
//  -webkit-transform: rotateZ(45deg);
//  transform: rotateZ(45deg);
//}
//
//.container3 {
//  -webkit-transform: rotateZ(90deg);
//  transform: rotateZ(90deg);
//}
//
//.circle1 { top: 0; left: 0; }
//.circle2 { top: 0; right: 0; }
//.circle3 { right: 0; bottom: 0; }
//.circle4 { left: 0; bottom: 0; }
//
//.container2 .circle1 {
//  -webkit-animation-delay: -1.1s;
//  animation-delay: -1.1s;
//}
//
//.container3 .circle1 {
//  -webkit-animation-delay: -1.0s;
//  animation-delay: -1.0s;
//}
//
//.container1 .circle2 {
//  -webkit-animation-delay: -0.9s;
//  animation-delay: -0.9s;
//}
//
//.container2 .circle2 {
//  -webkit-animation-delay: -0.8s;
//  animation-delay: -0.8s;
//}
//
//.container3 .circle2 {
//  -webkit-animation-delay: -0.7s;
//  animation-delay: -0.7s;
//}
//
//.container1 .circle3 {
//  -webkit-animation-delay: -0.6s;
//  animation-delay: -0.6s;
//}
//
//.container2 .circle3 {
//  -webkit-animation-delay: -0.5s;
//  animation-delay: -0.5s;
//}
//
//.container3 .circle3 {
//  -webkit-animation-delay: -0.4s;
//  animation-delay: -0.4s;
//}
//
//.container1 .circle4 {
//  -webkit-animation-delay: -0.3s;
//  animation-delay: -0.3s;
//}
//
//.container2 .circle4 {
//  -webkit-animation-delay: -0.2s;
//  animation-delay: -0.2s;
//}
//
//.container3 .circle4 {
//  -webkit-animation-delay: -0.1s;
//  animation-delay: -0.1s;
//}
//
//@-webkit-keyframes bouncedelay {
//  0%, 80%, 100% { -webkit-transform: scale(0.0) }
//  40% { -webkit-transform: scale(1.0) }
//}
//
//@keyframes bouncedelay {
//  0%, 80%, 100% {
//    transform: scale(0.0);
//    -webkit-transform: scale(0.0);
//  } 40% {
//      transform: scale(1.0);
//      -webkit-transform: scale(1.0);
//    }
//}